.slider {
  overflow-x: hidden;
}

.slider .sliderHeader {
  margin-top: 95px;
  margin-bottom: 50px;
}

.sliderHeader > span {
  font-size: 20px;
  font-weight: 500;
  color: var(--active-);
}

.sliderTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.sliderTop p {
  font-size: 54px;
  font-weight: 600;
  color: var(--text-color);
}

.sliderTop p span {
  color: var(--active-);
}

.navButtons {
  display: flex;
  gap: 12px; 
}

.navButtons button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid var(--active-);
  background-color: transparent;
  transition: 200ms;
  display: flex;
  align-items: center;
  justify-content: center; 
  font-size: 16px; 
  color: var(--text-color);
}

.navButtons button:hover {
  background-color: var(--active-);
  color: white;
}


.cardsWrapper {
  width: max-content;
}

.cardsWrapper .card {
  width: 380px;
  transition: 200ms;
}

@media (max-width: 639px) {
  .sliderHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
  }

  .sliderHeader p {
    font-size: 28px;
  }

  .cardsWrapper {
    width: 100%;
    justify-content: center;
  }

  .navButtons button {
    display: none;
  }
}
